.bg{
    background-image: url(./../../assets/bg-shadow.png);
    background-color: white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 88px 0px;
}