.menu_items .item{
    margin-left: 48px;
    list-style-type: none;
    display: inline-block;
    font-size: 16px;
    font-style: 400;
    color: rgba(19, 19, 19, 0.7);
}

.menu_items .item a{
    position: relative;
}

.menu_items .item a::after{
    position: absolute;
    content: '';
    bottom: -8px;
    left: 50%;
    height: 3px;
    width: 0%;
    background-color: darkblue;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.menu_items .item a:hover::after{
    width: 100%;
}

.menu_items button{
    padding: 16px 20px;
    font-size: 16px;
    font-weight: 600;
    color: #131313;
    border: 2px solid rgba(19, 19, 19, 0.1);
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

